body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.navbar{
background:#c2410c;
padding:15px;
text-align:center;
}

.navbar a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

.eventHeader{
text-align:center;
font-size:34px;
margin-top:25px;
}

.container{
max-width:420px;
margin:40px auto;
background:#1e293b;
padding:25px;
border-radius:12px;
}

input{
width:100%;
padding:12px;
margin:8px 0;
border-radius:8px;
border:none;
}

.invalid{
border:2px solid red;
}

button{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
}

button:disabled{
background:gray;
cursor:not-allowed;
}

#paymentSection{
display:none;
text-align:center;
}

#qrcode{
margin:20px auto;
display:flex;
justify-content:center;
}


.progressBar{
width:100%;
background:#334155;
height:6px;
border-radius:4px;
overflow:hidden;
margin:10px 0;
}

.progressFill{
height:100%;
width:0%;
background:#22c55e;
transition:width 0.3s linear;
}

.success{color:lightgreen;}
.error{color:#ef4444;}

#receiptBox{
display:none;
margin-top:25px;
text-align:center;
}

#receipt{
background:white;
color:black;
padding:15px;
width:260px;
border-radius:10px;
margin:auto;
}

#receipt p{
margin:4px 0;
}

.signImg{
width:120px;
margin-top:10px;
}

.sign{
color:green;
font-size:12px;
}
